@import "tailwindcss";

.bodyImage {
    background-image: url("TB.jpg"); /* Image path relative to the public folder */
    background-size: cover; /* Ensure the image covers the entire background */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}
